#eu estou usando uma biblioteca chamada "Pyinstaller", elas serve pra compilar um código em Python e gerar um executável que pode ser executado em qualquer máquina, como eu estou usando o Windows para programar, então ele gera um .exe, mas junto com isso ele gera alguns outros arquivos, que não sei o que é, mas vou ignora-los nesse arquivo
*.spec

#pasta do pyinstaller, ele gera essa pasta, mas não sei o que ela faz
build/

#pasta do pyinstaller, ele compila o código e salva ele dentro da pasta "dist", dentro dela tem a imagem e o áudio também
dist/

#contém o programa, a imagem e a áudio, mas não vou liberar pra download ainda, tem muita coisa pra arrumar primeiro
*.zip
*.rar
*.exe

#arquivo de workspace do vscode
*.code-workspace

#todo vilão precisa de um herói (e vice-versa), mas ele ainda não está pronto...
Batman.ps1
